name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
      - name: Install Packages
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Build
        run: yarn build
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]
        eslint: [9]
        include:
          # On old Node.js version
          - eslint: 8
            node-version: 16
          - eslint: 8
            node-version: 19
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Packages
        run: yarn install --ignore-engines
      - name: Install ESLint@${{ matrix.eslint }}
        run: yarn add eslint@${{ matrix.eslint }} -D --ignore-engines
      - name: Test
        run: yarn test
